.battle-cards{
    display: flex;
    height: 50%;
    gap: 2em;
}

.battle-buttons{
    margin-top: 2em;
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: flex-end;
    gap: 2em
}

.battle-buttons>button{
    padding: 0.5em 0.5em;
}