.battle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-cards {
  display: flex;
  align-items: center;
  gap: 2em;
}

.battle-buttons {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  gap: 2em;
}

.battle-buttons > button {
  padding: 0.5em 0.5em;
}

.battle-card{
    background-color: rgba(255, 255, 255, 0.85);
    width: calc(100vh / 3.2);
    height: 95%;
    border: 5px solid orangered;
    border-radius: 10px;
    box-shadow: 5px 8px 18px rgba(3, 23, 10, 0.9);
}


.attack-card{
    background-color: rgba(255, 255, 255, 0.85);
    width: calc(100vh / 3.2);
    height: 95%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 8px 18px rgba(3, 23, 10, 0.9);
    animation: attack 1s 2 both; 
}
    
@keyframes attack {
    0% {
    
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    
    transform: scale3d(1, 1, 1);
    }
  
  }
    
  
