.navigation {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0.5rem 0rem;
  background-color: #444242;
  color: black;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
}

.brand-name {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.7rem;
  margin-left: 1rem;
}

a {
  color: white;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  border-radius: 50px;
  padding: 10px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  mix-blend-mode: hard-light;
}

.NavLink {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-image: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #97c8eb;
}

.active {
  color: black;
  list-style-type: none;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(255, 255, 255);
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  a {
    color: black;
    width: 100%;
    /* padding: 1.5rem 0; */
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
    z-index: 1;
    transition: all 0.2s ease-out;
  }
}
