.card {
  padding: 10px;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.ingredients {
  margin-top: 20px;
}

ol {
  padding-left: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 3px;
}

@media (min-width: 720px) {
  .card {
    max-width: 1000px;
  }
}
