.card {
  padding: 10px;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.base {
  margin-top: 20px;
}

ul.data {
  list-style: none;
  background-color: rgb(3, 154, 224);
  padding: 10px;
  border-radius: 15%;
  color: antiquewhite;
}

li {
  margin-top: 3px;
}

@media (min-width: 720px) {
  .card {
    max-width: 1000px;
  }
}
