section {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  height: 100vh;
}

.pagination {
  display: inline-flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 100%;
}

.previous,
.home,
.next {
  width: 20%;
}

.previous:hover,
.home:hover,
.next:hover{
  background-color: #444242;
  color: white;
  border-radius: 3px; 
}

.card {
  background-color: rgba(255, 255, 255, 0.85);
  width: calc(100vh / 3.2);
  height: 95%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 8px 18px rgba(3, 23, 10, 0.9);
}

.thumb {
  background-position: center center;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.bottom-box{
  width: 100%;
}


.base {
  margin-top: 20px;
}

.base>h3{
  text-align: center;
}

.data {
  list-style: none;
  background-color: rgb(3, 154, 224);
  padding: 10px;
  border-radius: 8px;
  color: antiquewhite;
  box-shadow: 2px 3px 6px -1px rgba(1, 29, 42, 0.45);
}

li {
  margin-top: 3px;
}

@media (min-width: 720px) {
  .card {
    max-width: 1000px;
  }
}

